<div class="main">
	<h1>Let's adopt some cuddly animals!</h1>
</div>


<script type="text/javascript">
$.ajax({
	type: 'POST',
    url: '/adopt',
    data: JSON.stringify({name: "Cuddles"}), // data you're sending
    contentType: "application/json", // data type you're sending
    dataType: "json", // data you expect to return from server
    success: function(data) { // callback when server returns 200 OK
    	console.log(data);
    }
});
</script>