<h1>Listing users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Login Count</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user %></td>
        <td><%= user.password %></td>
        <td><%= user.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', users_all_path %>
