/* adopt a furball styles */

body {
	font-family: Verdana, sans-serif;
	background-color: #FAF0E6;
	padding: 20px;
}
input {
	border: 2px solid #CCC;
	color: #34495E;
	font-size: 14px;
	padding: 8px 5px;
	border-radius: 6px;
}
input[type=submit] {
	border: 2px solid hotpink;
	background-color: hotpink;
}
input[type=submit]:hover {
	background-color: #FF90C7;
}
#pet-screen .info span {
	font-weight: bold; 
}